@import '../../styles/colors.module.css';

.wrapper {

    background-color: #EACDFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 30px;
    height: 239px;
    justify-content: flex-end;
}

.dragOver {
    background-color: #D4FAE6;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    min-width: 361px;
    padding: 15.5px 27px;
    height: 70px;
    flex: 0 1 auto;
    max-width: 100%;
}

.empty {
    background: #fff;
    color: #201B10;
}

.uploading {
    background: #CB81FF;
}

.uploaded {
    background: #CB81FF;
    color: #201B10;
}

.done {
    background: #D4FAE6;
    color: #201B10;
}

.error {
    background: #FF5F00;
    color: #fff;
}

.text {
    font-size: 35px;
    color: #201B10;
    margin: 10px 0;
}

.info {
    font-size: 35px;
    margin: 10px 0;
    color: #201B10
}

.errorMessage {
    font-size: 35px;
    margin: 10px 0;
    color: #FF5F00;
}

.close {
    background: #1a0e00;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 200;
    cursor: pointer;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.loader {
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-top: 4px solid #2AE881;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}